.texture-bckg {
background-image: url("../images/ricepaper_v3.png");
}

.nav-bckg {
	background-color:#333;
	border: none;
}

.navbar-inverse .navbar-nav > .nav-bckg-active > a,
.navbar-inverse .navbar-nav > .nav-bckg-active > a:hover,
.navbar-inverse .navbar-nav > .nav-bckg-active > a:focus {
  color: #fff;
  background-color:#26b896;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #26b896;
} 

 .btn-selection {
  color: #ffffff;
  background-color: #26b896;
}

.btn-selection:hover,
.btn-selection:focus,
.btn-selection:active,
.btn-selection.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #26b896;
  border-color: #07795e;
}

.btn-selection:active,
.btn-selection.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.navbar-toggle {
	border:none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #26b896;
}

.navbar-collapse {
	border-top:none;
}

a {
  color: #07795e;
}

a:hover,
a:focus {
  color: #26b896;
}


/* */
/*.logo-pst {
  position: fixed;
  width:100%; 
  z-index:1031; 
  text-align: center;
}
*/

.logo-home {
  position:fixed;
  top:0;
  right:20%;
  margin:0 auto; 
  padding:0;
  z-index:9999;
}