.texture-bckg {
background-image: url("../images/ricepaper_v3.png");
}

.nav-bckg {
	background-color:#333;
	border: none;
}

.navbar-inverse .navbar-nav > .nav-bckg-active > a,
.navbar-inverse .navbar-nav > .nav-bckg-active > a:hover,
.navbar-inverse .navbar-nav > .nav-bckg-active > a:focus {
  color: #fff;
  background-color:#26b896;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #26b896;
} 

 .btn-selection {
  color: #ffffff;
  background-color: #26b896;
}

.btn-selection:hover,
.btn-selection:focus,
.btn-selection:active,
.btn-selection.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #26b896;
  border-color: #07795e;
}

.btn-selection:active,
.btn-selection.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.navbar-toggle {
	border:none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #26b896;
}

.navbar-collapse {
	border-top:none;
}

a {
  color: #07795e;
}

a:hover,
a:focus {
  color: #26b896;
}

h2 {
  font-family: Georgia, Serif;
  color: #26b896;
}

.btn-default {
  font-family: 'Oswald', sans-serif;
  font-weight:400;
  text-transform:uppercase;
  color: #fff;
  background-color: #07795e;
  border-color: #02513e;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #26b896;
  border-color: #07795e;
}

.logo-home {
  position:fixed;
  top:0;
  right:20%;
  margin:0 auto; 
  padding:0;
  z-index:9999;
}

.logo-mobile { display:none; }

@media (max-width: 480px) {
  .logo-home {
    display:none;
  }
  .logo-mobile {
    margin:8px;
    display: block;
  }
}